/* Mobile: width < 740px */
@mixin media-mobile() {
    @media screen and (max-width: 46.1875em) {
        @content;
    }
}

/* Tablet and mobile: width < 1024px*/
@mixin media-tablet() {
    @media screen and (max-width: 64.625rem) {
        @content;
    }
}

/* PC: width >= 1024px */
@mixin media-pc() {
    @media screen and (min-width: 64em) {
        @content;
    }
}

// Resize
@mixin resize($width, $height: $width) {
    width: $width;
    height: $height;
}

// Absolute center
@mixin absolute-center() {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin media-mobile() {
    @media screen and (max-width: 46.1875em) {
        @content;
    }
}
