<div class="login flex justify-center items-center">
  <div class="login__container w-full lg:w-[23%] rounded-xl mx-2 bg-white p-10 shadow-lg">
      <div class="flex flex-col items-center">
          <h1 class="text-2xl">Sign in to account</h1>
      </div>
      <form [formGroup]="loginForm" (ngSubmit)="submitForm()">
          <nz-form-item class="mb-6">
            <label for="userName" class="block mb-2 text-sm font-medium text-[#6c757d]">Username</label>
            <nz-form-control nzErrorTip="Please input your username!">
              <nz-input-group nzPrefixIcon="user" class="p-2.5 gap-2 bg-gray-50 border border-gray-300 text-[#6c757d] text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500">
                <input
                    type="text"
                    nz-input
                    formControlName="userName"
                    name="userName"
                    id="userName"
                    placeholder="Username"
                    class="bg-transparent border-none"
                />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item class="mb-6">
            <label for="password" class="block mb-2 text-sm font-medium text-[#6c757d]">Password</label>
            <nz-form-control nzErrorTip="Please input your Password!">
              <nz-input-group nzPrefixIcon="lock" class="p-2.5 gap-2 bg-gray-50 border border-gray-300 text-[#6c757d] text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500">
                <input
                    type="password"
                    nz-input
                    formControlName="password"
                    name="password"
                    id="password"
                    placeholder="Password"
                    class="bg-transparent border-none"
                />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>

          <button
          nz-button
          nzType="primary"
          [disabled]="loginForm.invalid"
          [nzLoading]="isLoading"
          class="w-full py-4 flex items-center justify-center rounded-ms font-bold" [nzType]="'primary'">Log in</button>
      </form>
  </div>
</div>

<div class="absolute top-[10%] left-[10%]">
    username: admin <br/>
    password: 876543210x@X
</div>
